<div class="full-width" fxLayout="row" fxLayoutGap="15px">
    <div fxFlex="0 0 250px">
        <img *ngIf="hasImage()" [src]="imageUrl">
    </div>
    <div fxFlex="1 1 100%">
        <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'MoviesFavorites.components.MovieFavoritesList.Fields.Title' | translate }}" readonly [value]="favorite.metadata.Title">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'MoviesFavorites.components.MovieFavoritesList.Fields.Year' | translate }}" readonly [value]="favorite.metadata.Year">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'MoviesFavorites.components.MovieFavoritesList.Fields.IMDB' | translate }}" readonly [value]="favorite.metadata.imdbID">
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="15px" class="controls">
            <div fxLayout="1 1 50%">
                <button class="full-width" type="button" mat-raised-button color="primary" (click)="onGoList(favorite.id)">
                    {{ 'MoviesFavorites.components.MovieFavoriteDetails.Controls.GoList' | translate }}
                </button>
            </div>
            <div fxLayout="1 1 50%">
                <button class="full-width" type="button" mat-raised-button color="warn" (click)="onRemove(favorite.id)">
                    {{ 'MoviesFavorites.components.MovieFavoriteDetails.Controls.Remove' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
